header {
    display: block;
    background-color: #70c4f5;
    justify-content: space-around;
    align-items: center;
    font-family: 'darker grotesque';
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    font: 'darker grotesque';
    width: 100vw;
}

footer {
    background-color: #4e4e4e;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    max-width: 100vw;
}

div {
    display: flex;
    justify-content: center;
    font-family: 'darker grotesque';
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-family: 'darker grotesque';
}

hr {
    min-width: 20vw;
    max-width: 50vw;
}

p {
    position: relative;
    justify-content: center;
    font-size: 1rem;
    color: black;
    font-family: 'darker grotesque';
}

footer>div>.infos>p {
    margin: 1vw;
    padding: 1vw;
    justify-content: center;
    color: #bdbdbd;
}

footer>div>.infos>a {
    display: inline-block;
    background-color: #dace69;
    text-align: center;
    justify-content: center;
    padding: 1vw;
    font-family: verdana;
    color: #494949;
    text-decoration: none;
}

.intro {
    font-size: 3rem;
    font-family: 'darker grotesque';
    color: #4e4e4e;
}

.adotar {
    display: block;
    justify-content: center;
    background-image: url("./Assets/imagens/image\ \(3\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
}

.lobinho {
    display: block;
    justify-content: center;
    text-align: center;
    color: #bdbdbd;
    max-width: 100vw;
}

.about {
    display: inline-block;
    justify-content: center;
    text-align: center;
    background-color: #2e78e7;
    color: #bdbdbd;
    max-width: 100vw;
}

.valores {
    display: block;
    background-color: #494949;
    justify-content: space-evenly;
}

.valor {
    display: inline-flex;
    background-color: #494949;
    justify-content: space-evenly;
    color: #bdbdbd;
    font-size: 2rem;
    max-width: 100vw;

}

.protecao {
    display: grid;
    color: #bdbdbd;
    justify-content: center;
    text-align: -webkit-center;


}

.carinho {
    display: grid;
    color: #bdbdbd;
    justify-content: center;
    text-align: -webkit-center;
}

.companheiro {
    display: grid;
    color: #bdbdbd;
    justify-content: center;
    text-align: -webkit-center;
}

.resgate {
    display: grid;
    color: #bdbdbd;
    justify-content: center;
    text-align: -webkit-center;
}

.svg {
    z-index: 1;
}

.exemplos {
    display: inline-block;
    width: 100%;

}


.exemplo1 {
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.exemplo1_1 {
    width: 50vw;
}

.exemplo1_2 {
    display: block;
    justify-content: center;
    text-align: center;
    align-self: center;
    width: 50vw;
}

.exemplo1_2>p {
    font-family: verdana;
    font: 1.3rem;

}

.exemplo2 {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    flex: none;
}

.exemplo2_1 {
    display: block;
    justify-content: center;
    text-align: center;
    align-self: center;
    width: 50vw;
}

.exemplo2_1>p {
    font-family: verdana;
    font: 1.3rem;
}

.exemplo2_2 {
    width: 50vw;
}

.lobo1 {
    background-color: #2e78e7;
    display: flex;
    width: 50vw;

}

.lobo2 {
    background-color: #2e78e7;
    box-shadow: #494949;
    display: flex;
    width: 50vw;
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dace69;
    font-size: 3rem;
    font-weight: 600;
}

.mapa {
    width: 15vw;
    height: 14vw;
    margin: 1vw;
}

.infos {
    justify-content: center;
    text-align: center;
    flex-flow: column;
    display: inline-flex;
    margin-left: 1vw;
}

.quem {
    justify-content: center;
    text-align: center;
    flex-flow: column;
    display: flex;
    margin: 1vw;
}

.desenvolvido {
    justify-content: center;
    text-align: center;
    flex-flow: column;
    display: inline-flex;
    margin: 1vw;
}

span1 {
    display: inline-grid;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    top: 361px;
    position: absolute;
    background-color: #ffffff;
    right: 1697px;
}

span2 {
    display: inline-grid;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    top: 355px;
    position: absolute;
    background-color: #ffffff;
    right: 1240px;
}

span3 {
    display: inline-grid;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    top: 355px;
    position: absolute;
    background-color: #ffffff;
    right: 763px;
}

span4 {
    display: inline-grid;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    top: 355px;
    position: absolute;
    background-color: #ffffff;
    right: 210px;
}